/**/
html{
    height: 100%;
}
body{
    margin: 0;
    padding: 0;
}
.ml-10{
    margin-left: 10px;
}
.poll-box{
    overflow: hidden;
}
.poll-answer{

}
.hide{
    transform: translate(100%,0);
    opacity: 0;
}
@keyframes questionHide {
    from { transform: translate(0px); opacity: 1 }
    to { transform: translate(-100%); opacity: 0 }
}
@keyframes questionShow {
    from {
        transform: translate(30%);
        opacity: 0;
    }
    to {
        transform: translate(0);
        opacity: 1;
    }
}
.poll-hide{
    animation-name: questionHide;
    animation-timing-function: ease-in-out;
    animation-duration: 0.5s;
}
.poll-show{
    animation-name: questionShow;
    animation-timing-function: ease-in-out;
    animation-duration: 0.5s;
}
.poll-quetion {
    z-index: 0;
}
.poll-navbar{
    display: grid;
    grid-template-columns: 1fr 80px;
}
.poll-navbar .caption{
    font-size: 10pt;
}

.poll-box .btn_next{
    background-image: url("../img/arrow.svg");
    background-repeat: no-repeat;
    background-position: center;
    transform: rotate(180deg);
}
.poll-box .btn_prev{
    background-image: url("../img/arrow.svg");
    background-repeat: no-repeat;
    background-position: center;
}
.poll-navbar .progress{
    --bs-progress-height: 10px;
}
.poll-box .poll-answer label{
    cursor: pointer;
}
.poll-box .poll-answer label:hover{
    box-shadow:  0 0 .2em hsla(0,0%,48%,.6);
    background: var(--bs-light);
}
.poll-box .poll-answer label.active{
   box-shadow:  0 0 .2em hsla(0,0%,48%,.6);
   background: rgba(0,200,0,.1);
   // border: solid 1px var(--bs-success) !important;
}
