*{
    --color: #9c1dff;
}
.my-2rem{
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.mb-2rem{
    margin-bottom: 2rem;
}
.fs-24{
    font-size: 24px;
}
.color-grey{
    color: #7f7f7f;
}
.progress-purple{
    --bs-progress-bar-bg: #673be6 !important;
}
.btn-purple{
    --bs-btn-color: #fff;
    --bs-btn-bg: #673be6;
    --bs-btn-border-color: #673be6;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #5010c6;
    --bs-btn-hover-border-color: #673be6;
    --bs-btn-focus-shadow-rgb: 49,132,253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #5010c6;
    --bs-btn-active-border-color: #5010c6;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #673be6;
    --bs-btn-disabled-border-color: #673be6;
}
